//header.pug
//Written by Mark Sporich
//Student# 200399323
//Website: IT Company Portfolio
//File Description: Serves as a header for each page. Used in layout.pug

block header
  
  h1.site-header IT Company Portfolio

  nav.navbar
    ul.navbar-inner
      li.navbar-item
        a(href="/") Home
      li.navbar-item
        a(href="/about") About
      li.navbar-item
        a(href="/projects") Projects
      li.navbar-item
        a(href="/services") Services
      li.navbar-item
        a(href="/contact") Contact