
extends layout

block content
  
  //about.pug
  //Written by Mark Sporich
  //Student# 200399323
  //Site: IT Company Portfolio
  //About Page: describes history and purpose of the company

  h1 About our IT Company

  p This IT company was founded in 2020, during the height of the pandemic. That, of course, means that we have tons of experience with web development.
  p If you would like to see our projects, please click on the "Projects" link in the top bar.
  p Or, if you would like to employ our services, please click on the "Services" link.