
extends layout

block content
  
  //contact.pug
  //Written by Mark Sporich
  //Student# 200399323
  //Site: IT Company Portfolio
  //Contact Page: Offers methods of communication for company

  h1 Contact Us!

  p You can contact us by email: it-company-2020@itemails.com
  p Or, you can call us at: 705-123-456
  p We'll be sure to service all of your web development needs!