
extends layout

block content
  
  //index.pug
  //Written by Mark Sporich
  //Student# 200399323
  //Site: IT Company Portfolio
  //Home Page

  h1= title
  p Welcome to our #{title}
  p This site showcases the amazing talent that is here at our IT company!
  p Simply click on each link in the top bar to explore.