doctype html
html
  head
    title= title
    //bootstrap added
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    include partials/header.pug
    block content
  script(src="/public/javascripts/bootstrap.min.js")