//layout.pug
//Non-generated elements Written by Mark Sporich
//Student# 200399323
//Site: IT Company Portfolio
//Serves as the "skeleton" layout of each page in the website

doctype html
html
  head
    title= title
    //bootstrap added
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    include partials/header.pug
    block content
    include partials/footer.pug
  //Adding JQuery from a CDN
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="/javascripts/bootstrap.min.js")
  //Adding JQuery script
  script(src="/javascripts/functions.js")