
extends layout

block content
  
  //projects.pug
  //Written by Mark Sporich
  //Student# 200399323
  //Site: IT Company Portfolio
  //Projects: shows each project the company has completed, using JQuery

  h1 Our Projects

  //using Jquery to create hide/show panels
  input#button1(type="button" value="Project #1")
  div#panel1 Developing a website for a client that works within a top business company.

  input#button2(type="button" value="Project #2")
  div#panel2 Developing a site that calculates comparative ideologies in a business and economic context.

  input#button3(type="button" value="Project #3")
  div#panel3 Designing the layout of a site for an interior designer who lives in the Yellowknife area.

  input#button4(type="button" value="Project #4")
  div#panel4 Making this portfolio.