
extends layout

block content
  
  //services.pug
  //Written by Mark Sporich
  //Student# 200399323
  //Site: IT Company Portfolio
  //Services: Describes the services offered by the company

  h1 Services Offered
  
  p With nearly one year of experience, we offer professional, cheaply priced web development services for those who require a modern, clean website.
  p Our services include web design, database integration, client-side and server-side development, and more.
  p Inquire at our "Contact" page.